body {
	padding-top: 5rem;
	font: Helvetica, Arial;
	padding-bottom: 5rem;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 80%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: darkslategrey;
}

.float-sm-right {
	font-size: 100%;
}

nav {
	font-family: 'Ubuntu';
}
